.signin-container {
    display: flex;
    align-items: center;
}

.signin-container .signin-img {
    flex: 1;
    position: relative;
}

.signin-container .signin-img img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.signin-container .signin-img .light {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(256, 256, 256, 0.3)
}

.signin-container .signin-text {
    flex: 1;
    text-align: center;
}

.signin-container .signin-text form {
    text-align: center;
    width: 60%;
    margin: auto;
} 

.signin-container .signin-text form h1 {
    margin-bottom: 30px;
} 

.signin-container .signin-text form input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 30px;
}

.signin-container .signin-text form button {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    color: white; 
    background-color: #00302E;
    padding: 7px 10px;
    margin-bottom: 30px;
    transition: 0.5s ease-in-out;
}

.signin-container .signin-text form button:hover {
    color: black;
    background-color: #E2B887;
}

.signin-container .signin-text form .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


