.signin-container {
    display: flex;
    align-items: center;
}

.signin-container .signin-img {
    flex: 1;
    position: relative;
}

.signin-container .signin-img img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.signin-container .signin-img .light {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(256, 256, 256, 0.3)
}

.signin-container .signin-text {
    flex: 1;
    text-align: center;
}

.signin-container .signin-text form {
    text-align: center;
    width: 60%;
    margin: auto;
} 

.signin-container .signin-text form h1 {
    margin-bottom: 30px;
} 

.signin-container .signin-text form input {
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.signin-container .signin-text form button {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    color: white; 
    background-color: #00302E;
    padding: 7px 10px;
    transition: 0.5s ease-in-out;
}

.signin-container .signin-text form button:hover {
    color: black;
    background-color: #E2B887;
}

.signin-container .signin-text form .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eye-cont {
    position: relative;
    height: 10px;
    margin-bottom: 50px;
}

.btnShow {
    position: absolute;
    top: 60%;
    right: 3%;
    margin-left: 0px;
    cursor: pointer;
    font-size: 25px;
    display: block;
    color: black;
}

@media screen and (max-width: 780px) {
    .signin-container {
        display: block;
        position: relative;
    }
    
    .signin-container .signin-img {
        position: relative;
        height: 100vh;
    }
    
    .signin-container .signin-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .signin-container .signin-img .light {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(256, 256, 256, 0.3)
    }

    .signin-container .signin-text {
        text-align: center;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
    }

    .signin-container .signin-text form{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        width: 80%;
        color: white;
    }

    .signin-container .signin-text form h1 {
        margin-bottom: 30px;
        margin-top: 30px;
    } 

    .signin-container .signin-text form a{
        color: white;
        font-size: 14px;
    }

    .btnShow {
        font-size: 25px;
    }
}
