* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
